@page
@model ShoppingAssignment_SE150854.Pages.Products.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductViewModel.ProductId" />
            <div class="form-group">
                <label asp-for="ProductViewModel.ProductName" class="control-label"></label>
                <input asp-for="ProductViewModel.ProductName" class="form-control" />
                <span asp-validation-for="ProductViewModel.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductViewModel.SupplierId" class="control-label"></label>
                <select asp-for="ProductViewModel.SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                <span asp-validation-for="ProductViewModel.SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductViewModel.CategoryId" class="control-label"></label>
                <select asp-for="ProductViewModel.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="ProductViewModel.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductViewModel.QuantityPerUnit" class="control-label"></label>
                <input asp-for="ProductViewModel.QuantityPerUnit" class="form-control" />
                <span asp-validation-for="ProductViewModel.QuantityPerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductViewModel.UnitPrice" class="control-label"></label>
                <input asp-for="ProductViewModel.UnitPrice" class="form-control" />
                <span asp-validation-for="ProductViewModel.UnitPrice" class="text-danger"></span>
            </div>
            <img src="~/images/@Model.ProductViewModel.ProductImage" width="300" height="300" />
             <input asp-for="ProductViewModel.ProductImage" type="hidden" class="form-control" />

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductViewModel.ProductStatus" class="control-label"></label>
                <input class="form-check" asp-for="ProductViewModel.ProductStatus" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script type="text/javascript">
    window.onload = function() {
        if ('@TempData["Message"]' != "") {
            alert('@TempData["Message"]');
        }
    };
</script>